.about {
  height: 100vh;
  display: flex;
}
.about-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
.about-right {
  flex: 1;
  margin-left: 60px;
}

.about-card.shadow {
  position: absolute;
  top: 180px;
  left: 20px;
  background-color: rgb(42 44 44 / 75%);
  width: 80%;
}

.about-card {
  height: 50vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.about-img {
  height: 100%;
  height: 100%;
  object-fit: cover;
}
.about-sub {
  margin: 10px 0px;
  color: rgb(148, 142, 142);
}
.about-description {
  font-weight: 300;
  margin: 20px 0px;
  line-height: 2em;
  width: 90%;
}
.about-title {
  font-weight: 500;
}
.about-wimtach {
  margin-top: 50px;
  font-weight: bold;
}
a:link,
a:visited {
  background-color:  #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgba(244, 67, 54, 0.8);
}

.projects-tech-stack {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}
.tech {
  background-color: rgb(118, 173, 63);
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin: 10px;
  font-size: 16px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .about{
    height: auto;
    width: auto;
    flex-direction: column-reverse;
  }

  .about-right {
    flex: 1;
    padding: auto;
  }
  
  .about-card.shadow {
    visibility: hidden;
  }
}